.hamchenko_svg {
    box-shadow: 15px 15px 40px 4px #00000080;
}

.linkToSiteHamchenko {
    right: 47px;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 15px 15px 40px 4px #00000080;
}